.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}
.logo {
    margin-bottom: -45px;
}
/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
} 
.anhdienthoai{
    padding-top: 5px;
    padding-left: 110px;
}
.know{
    font-weight: bold;  
     
}
.khoimenu2{
    margin-left: 220px;
}
.navbar{
    margin-bottom: 0px;
}
.anhslider{
    border: none;
    width: 100%;
    height: 100%;
}
.doanvan{
    position: absolute;
    bottom: 300px;
    left: 100px;
    color: white;
    text-align: left;
}
.divboccard{
    padding: 50px;
    margin: 10px;
   
}
.card1{
    background-color: aqua;
    padding: 70px;
    border: black solid 1px;
}
.anhduoidiv{
    float: left;
    display: block;
    margin-right: 30px;
    
}
.khoidoanvan{
    margin-left: 15px;
    margin-top: 30;

}
.hinhtronduoicard{
    height: 500px;
    width: 500px;
    background-color: rgb(22, 3, 3);
    border-radius: 350px;
    text-align: center;
    color: rgb(41, 227, 24);
    
}
.formtronghinhtron{
    color: white;
    display: block;
    
}
.nutbamtronghinhtron{
    background-color: white;
    color: black;
}
.signup{
    color: white;
    font-weight: bold;
    font-size: medium;
    
}
.textboxnhapthongtin{
    background-color: black;
    border-top: 0px;
    border-right: 0px;

}
.khoi4card{
    background-color: antiquewhite;
;
    margin-top: 100px;
}
.doanvan4card{
    text-align: center;
}
.card-title{
    font-weight: bold;
}
.groupicon{
   border-top: black solid 1px; 
}
.card2{
    
}
.card4anh{
    display: block;
  
}
.doanvancard4{
    text-align: center;
}
.fa-facebook-square{
    padding: 10px;
}.divicon{
    border-top: black   solid 2px;
}
.divoverlay{
    position: relative;
}
.texttronghinh{
    position:absolute;
    margin-top: -40px;
    padding: 10px;
}
.anhauthor{
    border-radius: 50%;
    width:70px
}
.khoiauthoer{
    padding: 20px;
    
}
.nutbaogia{
    display: block;
    margin-left: 5px;
}
.boccardthu4{
    margin-top: 50px;
    background-color: white
}
.thebocmuiten{
    padding-top: 30px;
    background-color: white;
}
.doanvancardreview{
    text
}
.cardreview{

}
.thebocmuiten{
    margin-bottom: 90px;
}
.anhdev{
    border-radius: 50%;
    height: 40px;
    width: auto;
    margin-top: 30px;

}
.cardreviewthongtin{
    float: right;
    
}
.thebochinhtron button{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-top: 50px;
}
.khoianhcontact img{
    height: 450px;
    width: auto;

}
.khoicontactuss{
    margin-top: 50px;  
    background-color: blue;
}
.khoicontactuss row{
    background-color: blue;
}
.footer{
    margin-top: 60px;
    background-color: black;
}
.footer .row .col-md-4 i{
    padding: 10px;
    display: inline; 
}
.footer .rowfooter .nutsendme{
    margin-top: 20px;
    width: 40%;
    border-radius: 10px;
    height: auto;

}

.pleasenote{
    margin-top: 30px;
}
.divduoicard{
    margin-top: 30px;
}
.divfooter{
    background-color: black;
    display: block;
}
